body{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    height: 100vh;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
}
#increment-btn{
    background-color: green;
}
#save-btn{
    background-color: blue;
}